$dark-navy: #303B59;
$dark-navy-light: #303b5988;
$white: #FFF;
$yellow: #FFB21E;
$light-yellow: hsl(60, 100%, 95%);
$blue: #1125D6;
$light-blue: #CAC9FF;
$green: #00BB8F;
$light-green: hsl(120, 100%, 95%);
$red: #FF5555;
$light-red: hsl(0, 100%, 95%);
$very-light-blue: #ECF2FF;
$gradient-1: linear-gradient(180deg, rgba(105,67,255,1) 0%, rgba(47,44,233,1) 100%);
$gradient-2: linear-gradient(180deg, rgba(77,33,201,1) 0%, rgba(47,44,233,0) 100%);