:root {
    font-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Hanken Grotesk";
    background-color: $very-light-blue;
}

.score-card-container {
    height: 512px;
    width: 736px;
    display: flex;
    background-color: white;
    border-radius: 2.5rem;
    box-shadow: 0 0 100px 10px $light-blue;
    .score-container {
        color: white;
        width: 50%;
        border-radius: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $gradient-1;
        &__heading {
            font-size: 1.5rem;
            color: $light-blue;
        }
        &__score {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin-bottom: 4rem;
            margin-top: 4rem;
            .circle {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                background: $gradient-2;
                position: absolute;
                text-align: center;
                z-index: 0;
            }
            h1 {
                font-size: 4rem;
                z-index: 1;
            }
        }

        &__result {
            font-size: 1.85rem;
            margin-bottom: 1rem;
        }

        &__result-description {
            width: 75%;
            text-align: center;
            color: $light-blue;
        }
    }
    .summary-container {
        width: 50%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 2rem;

        &__heading {
            font-size: 1.5rem;
        }

        span {
            color: $dark-navy-light;
        }

        img {
            margin-right: 0.5rem;
        }

        &__reaction {
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: $light-red;
            padding: 1rem;
            border-radius: 0.75rem;
            margin-top: 1.25rem;
            margin-bottom: 0.75rem;
            &-heading {
                display: flex;
                color: $red;
            }
        }

        &__memory {
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: $light-yellow;
            padding: 1rem;
            margin-bottom: 0.75rem;
            border-radius: 0.75rem;
            &-heading {
                display: flex;
                color: $yellow;
            }
        }

        &__verbal {
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: $light-green;
            padding: 1rem;
            margin-bottom: 0.75rem;
            border-radius: 0.75rem;
            &-heading {
                display: flex;
                color: $green;
            }
        }

        &__visual {
            display: flex;
            width: 100%;
            justify-content: space-between;
            background-color: $very-light-blue;
            padding: 1rem;
            margin-bottom: 0.75rem;
            border-radius: 0.75rem;
            &-heading {
                display: flex;
                color: $blue;
            }
        }

        button {
            width: 100%;
            border-radius: 2rem;
            border: none;
            padding: 1rem;
            font-family: "Hanken Grotesk";
            font-size: 1rem;
            margin-top: 1rem;
            background-color: $dark-navy;
            color: white;

            &:hover {
                background: $gradient-1;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .score-card-container {
        flex-direction: column;
        height: 100vh;
        width: 100%;

        .score-container {
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            &__heading {
                font-size: 1rem;
                margin-top: 1rem;
                color: $light-blue;
            }
            
            &__result-description {
                font-size: 0.85rem;
                margin-bottom: 2rem;
                color: $light-blue;
            }

            &__result {
                font-size: 1.5rem;
            }

            &__score {
                margin-top: 2.5rem;
                margin-bottom: 3rem;
                h1 {
                    font-size: 3rem;
                }
                .circle {
                    height: 140px;
                    width: 140px;
                }
            }
        }

        .summary-container {
            width: 100%;
        }
    }
}
