:root {
    font-size: 18px;
    font-family: "Space Grotesk";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

nav {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 2rem 0;
    .social-link-container > img,
    svg {
        color: white;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
    a {
        margin-right: 1rem;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.page-one-container {
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid white;
    h1 {
        animation: start 0.75s ease;
        background-color: $black;
        display: inline-flex;
        &:first-of-type {
            margin-top: min(10vw, 7rem);
            @media screen and (max-width: 600px) {
                margin-top: 0rem;
            }
        }
    }

    p {
        animation: start 0.75s ease;
        margin-top: min(3.84vw, 3rem);
        max-width: min(48.4vw, 500px);
        // @media screen and (max-width: 460px) {
        //     margin-top: 2rem;
        //     max-width: 200px;
        // }
        // @media screen and (min-width: 974px) and (max-width: 1072px) {
        //     max-width: 400px;
        // }
        // @media screen and (min-width: 870px) and (max-width: 973px) {
        //     max-width: 350px;
        // }
        // @media screen and (min-width: 780px) and (max-width: 869px) {
        //     max-width: 300px;
        // }
        // @media screen and (min-width: 700px) and (max-width: 779px) {
        //     max-width: 280px;
        // }
        // @media screen and (min-width: 600px) and (max-width: 699px) {
        //     max-width: 250px;
        // }
        // @media screen and (min-width: 530px) and (max-width: 599px) {
        //     max-width: 200px;
        // }
        // @media screen and (min-width: 460px) and (max-width: 530px) {
        //     width: 175px;
        // }
    }

    .img-container {
        top: 0;
        right: 2rem;
        z-index: -1;
        position: absolute;
        width: 445px;
        // background-color: $grey;
        width: min(37vw, 445px);

        img {
            width: 100%;
        }
    }

    button {
        animation: start 0.75s ease;
        margin-top: 5rem;
        margin-bottom: min(5vw, 11rem);
        @media screen and (max-width: 460px) {
            margin-top: 1rem;
        }
        @media screen and (min-width: 460px) and (max-width: 529px) {
            margin-top: 2rem;
        }
    }
}

.error-text {
    color: $red;
}

.error-border {
    border-bottom: 2px solid $red !important;
}

.page-two-container {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-top: 5rem;
    @media screen and (max-width: 460px) {
        border-bottom: 2px solid white;
        padding-bottom: 2rem;
        margin-top: 2rem;
    }
    @media screen and (min-width: 461px) and (max-width: 530px) {
        border-bottom: 2px solid white;
        padding-bottom: 4rem;
        margin-bottom: 5rem;
    }
    @media screen and (min-width: 530px) and (max-width: 599px) {
        border-bottom: 2px solid white;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    @media screen and (min-width: 600px) and (max-width: 699px) {
        border-bottom: 2px solid white;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    @media screen and (min-width: 700px) and (max-width: 779px) {
        border-bottom: 2px solid white;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    @media screen and (min-width: 780px) and (max-width: 869px) {
        border-bottom: 2px solid white;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    @media screen and (min-width: 870px) and (max-width: 973px) {
        border-bottom: 2px solid white;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    .skill {
        margin-right: 6rem;
        margin-bottom: 5rem;
        h1 {
            margin-bottom: 1rem;
        }
        @media screen and (max-width: 460px) {
            margin-right: 0rem;
            margin-bottom: 1rem;
        }
        @media screen and (min-width: 461px) and (max-width: 530px) {
            margin-right: 0rem;
            margin-bottom: 2rem;
        }
        @media screen and (min-width: 530px) and (max-width: 599px) {
            margin-right: 0rem;
            margin-bottom: 2rem;
        }
        @media screen and (min-width: 600px) and (max-width: 699px) {
            margin-right: 1rem;
            margin-bottom: 2rem;
        }
        @media screen and (min-width: 700px) and (max-width: 779px) {
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        @media screen and (min-width: 780px) and (max-width: 869px) {
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
        @media screen and (min-width: 870px) and (max-width: 973px) {
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.page-three-container {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    @media screen and (min-width: 460px) and (max-width: 529px) {
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        border-bottom: 2px solid white;
    }
    &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5rem;
        @media screen and (max-width: 460px) {
            margin-top: 2rem;
        }
        @media screen and (min-width: 461px) and (max-width: 529px) {
            margin-top: 3rem;
        }
        .project {
            width: 48%;
            height: 500px;
            background-color: $grey;
            display: flex;
            flex-direction: column;
            margin-bottom: 5rem;
            @media screen and (max-width: 460px) {
                margin-bottom: 1rem;
            }
            @media screen and (min-width: 461px) and (max-width: 529px) {
                margin-bottom: 1rem;
            }
            @media screen and (min-width: 600px) and (max-width: 699px) {
                margin-bottom: 2rem;
            }
            @media screen and (min-width: 780px) and (max-width: 869px) {
                margin-bottom: 2rem;
            }
            &__img {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 50%;
                }
                width: 100%;
                height: 100%;
            }
            &__info {
                h1 {
                    text-transform: uppercase;
                }

                p {
                    text-transform: uppercase;
                }
            }
        }
    }
}

.page-four-background-container {
    background-color: $grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-four-container {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    @media screen and (max-width: 460px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 461px) and (max-width: 530px) {
        flex-direction: column;
    }
    @media screen and (min-width: 530px) and (max-width: 599px) {
        flex-direction: column;
    }
    @media screen and (min-width: 600px) and (max-width: 699px) {
        flex-direction: column;
    }
    @media screen and (min-width: 700px) and (max-width: 779px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 780px) and (max-width: 869px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    justify-content: space-between;
    border-bottom: 2px solid $grey-white;
    padding-bottom: 5rem;
    margin-top: 5rem;
    @media screen and (max-width: 460px) {
        margin-top: 2rem;
    }
    @media screen and (min-width: 460px) and (max-width: 530px) {
        margin-top: 2rem;
    }
    @media screen and (min-width: 530px) and (max-width: 599px) {
        margin-top: 3rem;
    }
    position: relative;
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $grey;
        z-index: -1;
    }
    .contact-description {
        p {
            margin-top: 3rem;
            max-width: 500px;
        }
        @media screen and (min-width: 870px) and (max-width: 973px) {
            margin-top: 3rem;
            max-width: 400px;
        }
        @media screen and (max-width: 529px) {
            text-align: center;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 40%;
        @media screen and (max-width: 530px) {
            margin-top: 2rem;
            width: 100%;
        }
        @media screen and (min-width: 530px) and (max-width: 599px) {
            margin-top: 2rem;
            width: 100%;
        }
        @media screen and (min-width: 460px) and (max-width: 530px) {
            margin-top: 2rem;
            width: 100%;
        }
        @media screen and (min-width: 600px) and (max-width: 699px) {
            margin-top: 2rem;
            width: 100%;
        }
        @media screen and (min-width: 700px) and (max-width: 779px) {
            margin-top: 2rem;
            width: 80%;
        }
        @media screen and (min-width: 780px) and (max-width: 869px) {
            margin-top: 2rem;
            width: 70%;
        }
        input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid white;
            color: white;
            font-family: "Space Grotesk";
            font-size: 1.5rem;
            outline: none;
            padding-left: 1rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            width: calc(100% - 1rem);
        }

        textarea {
            width: calc(100% - 1rem);
            padding-left: 1rem;
            font-family: "Space Grotesk";
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            color: white;
            border-bottom: 3px solid white;
            outline: none;
        }

        & > button {
            margin-top: 2rem;
            align-self: flex-end;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    max-width: 1200px;
    margin-top: 3rem;
    margin-bottom: 4rem;
    .social-link-container > img,
    svg {
        color: white;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
    a {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Space Grotesk";
    text-transform: uppercase;
    line-height: 45px;
    &::after {
        content: "";
        display: block;
        width: 0;
        height: 4px;
        background: $green;
        transition: width 0.3s;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover::after {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    nav {
        padding: 1rem;
        margin: 1rem;
        align-items: center;
        a {
            margin-right: 0.5rem;
        }
    }
    .page-one-container {
        padding: 1rem;
        padding-bottom: 2rem;
        .img-container {
            right: 1rem;
        }
    }
    .page-two-container {
        margin-top: 0;
    }
    .project {
        height: 100px !important;
    }
    .page-four-container {
        .form {
            *, input, textarea {
                font-size: 0.75rem;
            }
        }

        .contact-description {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 0.75rem;
                line-height: 0.75rem;
            }
        }
    }
    button {
        line-height: 0;
    }
    footer {
        margin: 0;
        padding: 1rem;
        align-items: center;
        a {
            margin-right: 0.5rem;
        }
    }
}

@media screen and (min-width: 351px) and (max-width: 500px) {
    
    .project {
        height: 200px !important;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    
    .project {
        height: 300px !important;
    }
}

.name {
    display: inline-block;
}

.line {
    animation: run 0.75s ease;
    background-color: $green;
    height: min(0.56vw, 7px);
}

.dot {
    display: none;
    background-color: transparent;
}

.m1 {
    margin-bottom: 1rem;
}

.valid-border {
    border-bottom: 2px solid $green !important;
}

a {
    text-decoration: none;
}

.hover-red:hover {
    color: $red;
}

.hover-blue:hover {
    color: $blue;
}

.hover-yellow:hover {
    color: $yellow;
}

.hover-green:hover {
    color: $green;
}

.hover-orange:hover {
    color: $orange;
}
