<app-sidebar></app-sidebar>

<!-- edit-form container -->
<div *ngIf="editFormVisible" class="w-full h-full bg-black opacity-50 fixed"></div>
<div *ngIf="editFormVisible" [formGroup]="editForm"
    class="fixed z-10 p-10 pb-0 w-full h-[calc(100%-5rem)] md:p-0 md:pl-[8vw] md:pr-[3vw] md:pt-[3vw] md:w-[80vw] md:h-[calc(100%-7rem)] lg:w-[40vw] lg:h-full bg-white overflow-y-auto dark:bg-[#141625] dark:text-white">
    <p class="text-2xl font-bold dark:text-white">Edit #{{editForm.value.id}}</p>
    <p class="font-bold text-cornflower-blue-500 mt-10">Bill Form</p>
    <!-- street address -->
    <div class="my-5 flex flex-col">
        <label
            [ngClass]="{'text-ship-cove-500 dark:text-selago-100': editForm.controls.street.valid, 'text-red-500 dark:text-red-500': editForm.controls.street.invalid}">Street
            Address</label>
        <input
            [ngClass]="{'text-ship-cove-500 dark:text-selago-100': editForm.controls.street.valid, 'text-red-500 dark:text-red-500': editForm.controls.street.invalid}"
            formControlName="street" class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950"
            type="text" />
    </div>
    <!-- city, postcode country -->
    <div class="grid grid-cols-3 gap-5">
        <div>
            <label [ngClass]="labelInvalidClass(editForm.controls.city)"
                class="text-ship-cove-500 dark:text-selago-100">City</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.city)" formControlName="city"
                class="border rounded p-3 font-bold w-full dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <div>
            <label [ngClass]="labelInvalidClass(editForm.controls.postCode)"
                class="text-ship-cove-500 dark:text-selago-100">Post Code</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.postCode)" formControlName="postCode"
                class="border rounded p-3 font-bold w-full dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <div>
            <label [ngClass]="labelInvalidClass(editForm.controls.country)"
                class="text-ship-cove-500 dark:text-selago-100">Country</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.country)" formControlName="country"
                class="border rounded p-3 font-bold w-full dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
    </div>
    <p class="my-5 text-cornflower-blue-500 font-bold">Bill To</p>
    <ng-container formGroupName="client">
        <!-- client name -->
        <div class="flex flex-col mb-5">
            <label [ngClass]="labelInvalidClass(editForm.controls.client.controls.name)"
                class="text-ship-cove-500 dark:text-selago-100">Client's Name</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.client.controls.name)" formControlName="name"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <!-- client email -->
        <div class="flex flex-col mb-5">
            <label [ngClass]="labelInvalidClass(editForm.controls.client.controls.email)"
                class="text-ship-cove-500 dark:text-selago-100">Client's Email</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.client.controls.email)" formControlName="email"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <ng-container formGroupName="address">
            <!-- client street address -->
            <div class="flex flex-col mb-5">
                <label [ngClass]="labelInvalidClass(editForm.controls.client.controls.address.controls.street)"
                    class="text-ship-cove-500 dark:text-selago-100">Street Address</label>
                <input [ngClass]="inputInvalidClass(editForm.controls.client.controls.address.controls.street)"
                    formControlName="street"
                    class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
            </div>
            <!-- client city, postcode country -->
            <div class="grid grid-cols-3 gap-5 mb-5">
                <div>
                    <label [ngClass]="labelInvalidClass(editForm.controls.client.controls.address.controls.city)"
                        class="text-ship-cove-500 dark:text-selago-100">City</label>
                    <input [ngClass]="inputInvalidClass(editForm.controls.client.controls.address.controls.city)"
                        formControlName="city"
                        class="border rounded font-bold p-3 box-border w-full dark:bg-mirage-950 dark:border-ebony-clay-950"
                        type="text" />
                </div>
                <div>
                    <label [ngClass]="labelInvalidClass(editForm.controls.client.controls.address.controls.postCode)"
                        class="text-ship-cove-500 dark:text-selago-100">Post Code</label>
                    <input [ngClass]="inputInvalidClass(editForm.controls.client.controls.address.controls.postCode)"
                        formControlName="postCode"
                        class="border rounded font-bold p-3 box-border w-full dark:bg-mirage-950 dark:border-ebony-clay-950"
                        type="text" />
                </div>
                <div>
                    <label [ngClass]="labelInvalidClass(editForm.controls.client.controls.address.controls.country)"
                        class="text-ship-cove-500 dark:text-selago-100">Country</label>
                    <input [ngClass]="inputInvalidClass(editForm.controls.client.controls.address.controls.country)"
                        formControlName="country"
                        class="border rounded font-bold p-3 box-border w-full dark:bg-mirage-950 dark:border-ebony-clay-950"
                        type="text" />
                </div>
            </div>
        </ng-container>
    </ng-container>

    <!-- date and due -->
    <div class="flex justify-between mb-5">
        <!-- invoice date -->
        <div class="flex flex-col">
            <label [ngClass]="labelInvalidClass(editForm.controls.purchaseDate)"
                class="text-ship-cove-500 dark:text-selago-100">Invoice Date</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.purchaseDate)" formControlName="purchaseDate"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950 dark:text-selago-100"
                type="date" />
        </div>
        <!-- payment due -->
        <div class="flex flex-col">
            <label [ngClass]="labelInvalidClass(editForm.controls.paymentDueDate)"
                class="text-ship-cove-500 dark:text-selago-100">Payment Due</label>
            <input [ngClass]="inputInvalidClass(editForm.controls.paymentDueDate)" formControlName="paymentDueDate"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="date"
                [min]="editForm.controls.purchaseDate.value" />
        </div>
    </div>
    <!-- project description -->
    <div class="flex flex-col mb-5">
        <label [ngClass]="labelInvalidClass(editForm.controls.projectName)"
            class="text-ship-cove-500 dark:text-selago-100">Project Description</label>
        <input [ngClass]="inputInvalidClass(editForm.controls.projectName)" formControlName="projectName"
            class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
    </div>
    <!-- item list -->
    <p class="text-lg text-ship-cove-500 mb-5 mt-10 font-bold">Item List</p>
    <div>
        <div class="grid grid-cols-[30%_10%_20%_20%_10%] mb-3 gap-2 md:gap-3">
            <p class="text-ship-cove-500 dark:text-selago-100">Item List</p>
            <p class="text-ship-cove-500 dark:text-selago-100">Quantity</p>
            <p class="text-ship-cove-500 dark:text-selago-100">Price</p>
            <p class="text-ship-cove-500 dark:text-selago-100 text-center">Total</p>
            <p></p>
        </div>
        <div *ngFor="let item of editForm.controls.items.controls; let i = index"
            class="grid grid-cols-[30%_10%_20%_20%_10%] gap-2 md:gap-3 mb-3 items-center">
            <!-- item name -->
            <input class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text"
                [formControl]="item.controls.name" [ngClass]="inputInvalidClass(item.controls.name)" />
            <!-- qty -->
            <input class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950 text-center"
                type="text" [formControl]="item.controls.quantity" [ngClass]="inputInvalidClass(item.controls.name)" />
            <!-- price -->
            <input class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text"
                [formControl]="item.controls.price" [ngClass]="inputInvalidClass(item.controls.name)" />
            <!-- total -->
            <p class="text-ship-cove-500 text-center dark:text-white">{{(item.value.quantity || 0) * (item.value.price
                || 0)}}</p>
            <!-- delete -->
            <svg (click)="deleteItem(i)" class="cursor-pointer hover:fill-red-500 fill-[#888EB0] justify-self-end"
                width="13" height="16" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z"
                    fill-rule="nonzero" />
            </svg>
        </div>
        <button (click)="addNewItem()"
            class="my-5 w-full rounded-full bg-selago-50 text-cornflower-blue-500 fill-[#7C5DFA] dark:fill-selago-100 dark:bg-ebony-clay-950 dark:text-selago-100 dark:hover:bg-selago-50 dark:hover:text-cornflower-blue-500 dark:hover:fill-cornflower-blue-500 flex justify-center items-center py-4 font-bold">
            <svg class="mr-2" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.313 10.023v-3.71h3.71v-2.58h-3.71V.023h-2.58v3.71H.023v2.58h3.71v3.71z"
                    fill-rule="nonzero" />
            </svg>
            Add New Item
        </button>
    </div>
    <p class="text-red-500" *ngIf="editForm.invalid && editForm.dirty && submitted">- All fields must be
        correctly
        added</p>
    <p class="text-red-500" *ngIf="editForm.controls.items.controls.length === 0 && submitted">- An item must be
        added</p>
    <!-- buttons-container -->
    <div class="sticky bottom-0 right-0 w-full p-5 flex justify-end bg-white z-10 dark:bg-[#141625]">
        <button (click)="handleCancel()"
            class="rounded-full bg-selago-50 text-cornflower-blue-500 dark:bg-ebony-clay-950 dark:text-selago-100 dark:hover:bg-selago-50 dark:hover:text-cornflower-blue-500 flex justify-center items-center py-4 px-6 font-bold mr-3">
            Cancel
        </button>
        <button (click)="saveChanges()"
            class="rounded-full bg-cornflower-blue-500 dark:hover:bg-cornflower-blue-400 flex justify-center items-center py-4 px-6 font-bold text-selago-50">
            Save Changes
        </button>
    </div>
</div>

<!-- invoice-actions container calc(100vh-7rem) -> 7rem is height of sidebar -->
<div
    class="w-[100vw] pb-24 md:pt-10 md:h-[calc(100vh-7rem)] lg:h-[100vh] bg-whisper-50 flex justify-center items-center overflow-y-auto overflow-x-hidden dark:bg-[#141625]">
    <div class="lg:w-[60vw] md:w-[90vw] w-[95vw] md:h-full">
        <!-- go back-container -->
        <div (click)="goBackToViewInvoices()" class="flex items-center p-5 text-lg">
            <svg class="cursor-pointer" width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.342.886L2.114 5.114l4.228 4.228" stroke="#9277FF" stroke-width="2" fill="none"
                    fill-rule="evenodd" />
            </svg>
            <p
                class="ml-3 font-bold cursor-pointer hover:text-ship-cove-500 dark:text-white dark:hover:text-bali-hai-600">
                Go Back</p>
        </div>
        <!-- status-container -->
        <div class="flex justify-between bg-white py-5 px-7 rounded-xl mb-5 dark:bg-mirage-950">
            <div class="flex items-center w-full justify-between md:w-0">
                <p class="mr-3 text-wild-blue-yonder-600">Status</p>
                <div class="flex items-center justify-center rounded pl-7 pr-7 pt-2 pb-2 min-w-[100px]"
                    [ngClass]="getStatusClass">
                    <svg preserveAspectRatio="none" width="8" height="8" viewBox="0 0 8 8" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle *ngIf="editForm.value.status === 'paid'" class="fill-[#33D69F]" cx="4" cy="4" r="4" />
                        <circle *ngIf="editForm.value.status === 'pending'" class="fill-[#ff8f00]" cx="4" cy="4"
                            r="4" />
                        <circle *ngIf="editForm.value.status === 'draft'" class="fill-[#373b53] dark:fill-selago-100"
                            cx="4" cy="4" r="4" />
                    </svg>
                    <p *ngIf="editForm.value.status === 'paid'" class="ml-3 text-shamrock-400 font-bold">
                        {{editForm.value.status |
                        titlecase}}</p>
                    <p *ngIf="editForm.value.status === 'draft'"
                        class="ml-3 text-oxford-blue-800 dark:text-selago-100 font-bold">{{editForm.value.status |
                        titlecase}}</p>
                    <p *ngIf="editForm.value.status === 'pending'" class="ml-3 text-pizazz-600 font-bold">
                        {{editForm.value.status |
                        titlecase}}</p>
                </div>
            </div>
            <div
                class="fixed bottom-0 left-0 text-center bg-white dark:bg-mirage-950 w-full px-7 py-4 h-[5rem] md:static md:bottom-auto md:left-auto md:bg-transparent md:w-auto md:px-0 md:py-0">
                <button (click)="editFormVisible = true"
                    class="px-4 py-3 rounded-full text-ship-cove-500 font-bold bg-selago-50 hover:bg-selago-100 dark:bg-ebony-clay-950 dark:text-selago-100 dark:hover:bg-white dark:hover:text-ship-cove-500">Edit</button>
                <button (click)="deleteFormVisible = true"
                    class="ml-3 px-4 py-3 rounded-full font-bold bg-burnt-sienna-500 text-white hover:bg-burnt-sienna-400">Delete</button>
                <button (click)="markAsPaid()"
                    [ngClass]="{'bg-green-900 hover:bg-green-900 cursor-auto text-wild-blue-yonder-700': editForm.value.status === 'paid'}"
                    class="ml-3 px-4 py-3 rounded-full font-bold bg-green-500 text-white hover:bg-green-400">Mark
                    as
                    Paid</button>
                <button (click)="markAsPending()"
                    [ngClass]="{'bg-yellow-900 hover:bg-yellow-900 cursor-auto text-wild-blue-yonder-700': editForm.value.status === 'paid' || editForm.value.status === 'pending'}"
                    class="ml-3 px-4 py-3 rounded-full font-bold bg-yellow-500 text-white hover:bg-yellow-400">Mark
                    as
                    Pending</button>
            </div>
        </div>
        <!-- invoice-details container -->
        <div class="bg-white rounded-xl p-7 dark:bg-mirage-950">
            <div class="flex justify-between mb-5">
                <div>
                    <p class="font-bold dark:text-white">#{{editForm.value.id}}</p>
                    <p class="text-wild-blue-yonder-600">{{editForm.value.projectName}}</p>
                </div>
                <div>
                    <p class="text-wild-blue-yonder-600" [innerHTML]="getAddress()"></p>
                </div>
            </div>
            <!-- dates-bill-sent container -->
            <div class="flex justify-between mb-10">
                <!-- dates-container -->
                <div>
                    <div class="mb-5">
                        <p class="text-wild-blue-yonder-600">Invoice Date</p>
                        <p class="font-bold dark:text-selago-100">{{editForm.value.purchaseDate | date}}</p>
                    </div>
                    <div>
                        <p class="text-wild-blue-yonder-600">Payment Due</p>
                        <p class="font-bold dark:text-selago-100">{{editForm.value.paymentDueDate | date}}</p>
                    </div>
                </div>
                <!-- bill container -->
                <div>
                    <p class="text-wild-blue-yonder-600">Bill To</p>
                    <p class="font-bold dark:text-selago-100">{{editForm.value.client?.name}}</p>
                    <p class="text-wild-blue-yonder-600">{{editForm.value.client?.address?.street}}</p>
                    <p class="text-wild-blue-yonder-600">{{editForm.value.client?.address?.city}}</p>
                    <p class="text-wild-blue-yonder-600">{{editForm.value.client?.address?.postCode}}</p>
                    <p class="text-wild-blue-yonder-600">{{editForm.value.client?.address?.country}}</p>
                </div>
                <!-- sent container -->
                <div>
                    <p class="text-wild-blue-yonder-600">Sent To</p>
                    <p class="font-bold dark:text-selago-100">{{editForm.value.client?.email}}</p>
                </div>
            </div>
            <!-- items-container -->
            <div class="bg-selago-50 rounded-t-xl p-7 pb-5 overflow-y-auto h-[50vh] dark:bg-ebony-clay-950">
                <!-- items-container -->
                <div class="grid grid-cols-4 mb-5">
                    <p class="text-wild-blue-yonder-600 font-bold">Item Name</p>
                    <p class="text-wild-blue-yonder-600 font-bold justify-self-end">Quantity</p>
                    <p class="text-wild-blue-yonder-600 font-bold justify-self-end">Price</p>
                    <p class="text-wild-blue-yonder-600 font-bold justify-self-end">Total</p>
                </div>

                <div *ngFor="let item of editForm.controls.items.controls"
                    class="grid grid-cols-4 mb-3 text-lg font-bold">
                    <p class="dark:text-white">{{item.value.name}}</p>
                    <p class="text-ship-cove-500 justify-self-end dark:text-selago-100">{{item.value.quantity}}</p>
                    <p class="text-ship-cove-500 justify-self-end dark:text-selago-100">{{item.value.price | currency:
                        'USD'}}
                    </p>
                    <p class="justify-self-end dark:text-white">{{ (item.value.quantity || 0) * (item.value.price || 0)
                        | currency: 'USD' }}</p>
                </div>

            </div>
            <!-- amount-due-container -->
            <div class="flex justify-between bg-oxford-blue-800 p-7 rounded-b-xl dark:bg-vulcan-950">
                <p class="text-white">Amount Due</p>
                <p class="font-bold text-white">{{total | currency: 'USD'}}</p>
            </div>
        </div>
    </div>
</div>
