@import "../../../styles";

.invoice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-radius: 5px;
    padding: 1rem 0;
    * {
        margin-right: 1rem;
    }

    svg {
        cursor: pointer;
    }

    &__id {
        &--light {
            color: map-get($component-palette, invoice, light-mode, text, dark);
        }
        &--dark {
            color: map-get($component-palette, invoice, dark-mode, text, base);
        }
    }
    &__name {
        &--light {
            color: map-get($component-palette, invoice, light-mode, text, base);
        }
        &--dark {
            color: map-get($component-palette, invoice, dark-mode, text, base);
        }
    }

    &__amount {
        &--light {
            color: map-get($component-palette, invoice, light-mode, text, base);
        }
        &--dark {
            color: map-get($component-palette, invoice, dark-mode, text, base);
        }
    }
    
    &__date {
        color: #858bb2;
        &--dark {
            color: map-get($component-palette, invoice, dark-mode, text, base);
        }
    }

    &__name {
        color: #858bb2;
        &--dark {
            color: map-get($component-palette, invoice, dark-mode, text, base);
        }
    }

    &--light {
        background-color: map-get($component-palette, invoice, light-mode, background);
    }

    &--dark {
        background-color: map-get($component-palette, invoice, dark-mode, background);
    }
}
