@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: inherit;
}

body {
    min-height: 97vh;
    display: flex;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}

main {
    display: flex;
    flex: 1;
}

.info,
.user-acquisition {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    padding: 5rem 1rem 5rem 18rem;
}

.user-acquisition {
    padding: 5rem 9rem 5rem 1rem;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 6px 2px hsl(0, 64%, 65%);
}

h1 {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.form__input {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin-bottom: 1rem;
}

input {
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid hsl(246, 25%, 77%);
}

input,
button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
}

input:focus {
    border: 1px solid hsl(249, 10%, 26%);
    outline: none;
}

.form__input>img {
    width: 20px;
    position: absolute;
    right: 2%;
    top: 30%;
    display: none;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 2px 2px hsl(154, 56%, 45%);
}

button:hover {
    background-color: hsl(154, 86%, 60%);
}

form>p {
    text-align: center;
    font-size: 0.65rem;
    padding-top: 0.5rem;
    color: hsl(246, 25%, 77%);
}

form>p>span {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

.trial {
    display: flex;
    width: 100%;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 6px 2px hsl(0, 64%, 65%);
}

.trial>p {
    width: 100%;
    text-align: center;
    color: white;
}

.trial>p:nth-child(1)>span:nth-child(1) {
    font-weight: 600;
}

h1,
p {
    color: white;
}

.error {
    color: hsl(0, 100%, 74%);
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.error-active {
    border: 2px solid hsl(0, 100%, 74%);
}

@media only screen and (max-width: 1024px) {
    main {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    .info,
    .user-acquisition {
        padding: 0;
        width: 100%;
    }
}