@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");
:root {
  font-size: 18px;
  font-family: "Space Grotesk";
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #151515;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 2rem 0;
}
nav .social-link-container > img,
nav svg {
  margin-right: 1rem;
  color: white;
}
nav .social-link-container > img:hover,
nav svg:hover {
  color: #4EE1A0;
  cursor: pointer;
}

.page-one-container {
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid white;
}
.page-one-container h1 {
  animation: start 0.75s ease;
  background-color: #151515;
  display: inline-flex;
}
.page-one-container h1:first-of-type {
  margin-top: 8rem;
}
.page-one-container p {
  animation: start 0.75s ease;
  margin-top: 3rem;
  max-width: 500px;
}
.page-one-container .img-container {
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  width: 445px;
  height: 720px;
}
.page-one-container .img-container img {
  width: 100%;
}
.page-one-container button {
  animation: start 0.75s ease;
  margin-top: 5rem;
}

.error-text {
  color: #FF6F5B;
}

.error-border {
  border-bottom: 2px solid #FF6F5B !important;
}

.page-two-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 5rem;
}
.page-two-container .skill {
  margin-right: 6rem;
  margin-bottom: 5rem;
}
.page-two-container .skill h1 {
  margin-bottom: 1rem;
}

.page-three-container {
  width: 100%;
  max-width: 1200px;
}
.page-three-container__info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.page-three-container__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}
.page-three-container__projects .project {
  width: 48%;
  height: 500px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.page-three-container__projects .project__img {
  width: 100%;
  height: 100%;
}
.page-three-container__projects .project__info h1 {
  text-transform: uppercase;
}
.page-three-container__projects .project__info p {
  text-transform: uppercase;
}

.page-four-background-container {
  background-color: #242424;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-four-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 5rem;
  margin-top: 5rem;
  position: relative;
}
.page-four-container .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #242424;
  z-index: -1;
}
.page-four-container .contact-description p {
  margin-top: 3rem;
  max-width: 500px;
}
.page-four-container .form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}
.page-four-container .form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  outline: none;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: calc(100% - 1rem);
}
.page-four-container .form textarea {
  width: calc(100% - 1rem);
  padding-left: 1rem;
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 3px solid white;
  outline: none;
}
.page-four-container .form > button {
  margin-top: 2rem;
  align-self: flex-end;
}
.page-four-container .form > button:hover {
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
footer .social-link-container > img,
footer svg {
  margin-right: 1rem;
  color: white;
}
footer .social-link-container > img:hover,
footer svg:hover {
  color: #4EE1A0;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Space Grotesk";
  text-transform: uppercase;
  line-height: 45px;
}
button::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #4EE1A0;
  transition: width 0.3s;
}
button:hover {
  cursor: pointer;
}
button:hover::after {
  width: 100%;
}

.name {
  display: inline-block;
}

.line {
  animation: run 0.75s ease;
  background-color: #4EE1A0;
  height: 7px;
}

.dot {
  display: none;
  background-color: transparent;
}

.m1 {
  margin-bottom: 1rem;
}

.valid-border {
  border-bottom: 2px solid #4EE1A0 !important;
}

a {
  text-decoration: none;
}

.hover-red:hover {
  color: #FF6F5B;
}

.hover-blue:hover {
  color: #2370cf;
}

.hover-yellow:hover {
  color: #c5e85f;
}

.hover-green:hover {
  color: #4EE1A0;
}

.hover-orange:hover {
  color: #fc7a33;
}

.xl {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: 2.5px;
}

.l {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1.5px;
}

.m {
  font-size: 24px;
  line-height: 32px;
}

@keyframes run {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
