:host {
    display: flex;
    width: 100%;
}

.logo-container {
    width: 30vw;
    display: flex;
    align-items: center;
}

.action-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-items-container {
    display: flex;
    align-items: center;
    & > * {
        margin-left: 5px;
    }
}
