<div class="logo-container m-2">
    <div class="logo">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p class="xl bold ml-1">kanban</p>
</div>
<div class="action-container m-2">
    <p class="xl semi-bold">Platform Launch</p>
    <div class="menu-items-container">
        <button (click)="buttonClick('addNewTask')" class="btn"
            [ngClass]="{'btn-primary': addNewTaskButtonDisabled === false, 'btn-disabled': addNewTaskButtonDisabled === true}">+
            Add New Task</button>
        <div class="ellipsis-menu">
            <div></div>
        </div>
    </div>
</div>