<div class="logo-container m-2">
    <div class="logo">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p class="xl bold ml-1">kanban</p>
</div>
<div class="action-container m-2">
    <p class="xl semi-bold">{{currentBoard?.name}}</p>
    <div class="menu-items-container">
        <button (click)="buttonClick('addNewTask')" class="btn"
            [ngClass]="{'btn-primary': addNewTaskButtonDisabled === false, 'btn-disabled': addNewTaskButtonDisabled === true}">+
            Add New Task</button>
        <!-- <div class="ellipsis-menu">
            <div></div>
        </div> -->
        <svg *ngIf="!showBoardOptionsModal && currentBoard" (click)="showBoardOptionsModal = true" width="5" height="20"
            xmlns="http://www.w3.org/2000/svg">
            <g fill="#828FA3" fill-rule="evenodd">
                <circle cx="2.308" cy="2.308" r="2.308" />
                <circle cx="2.308" cy="10" r="2.308" />
                <circle cx="2.308" cy="17.692" r="2.308" />
            </g>
        </svg>
        <svg *ngIf="showBoardOptionsModal" (click)="showBoardOptionsModal = false" width="15" height="15"
            xmlns="http://www.w3.org/2000/svg">
            <g fill="#828FA3" fill-rule="evenodd">
                <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
                <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
            </g>
        </svg>
        <div *ngIf="showBoardOptionsModal" class="board-options-modal p-1">
            <p (click)="edit = true; showBoardOptionsModal = false; showEditBoardModal();" class="grey-medium-50-text pb-1 option">Edit Board
            </p>
            <p (click)="deleteBoardModalVisible = true; showBoardOptionsModal = false" class="red option">Delete Board
            </p>
        </div>
    </div>
</div>

<div *ngIf="deleteBoardModalVisible && currentBoard" class="confirm-delete-board-modal">
    <div class="confirm-delete-board-container">
        <p class="l bold mb-1 red">Delete this board?</p>
        <p class="mb-1">Are you sure you want to delete the ‘Platform Launch’ board?<br> This action will remove all
            columns
            and tasks and cannot be reversed.</p>
        <div class="confirm-delete-board-button-container">
            <button (click)="deleteBoard()" class="btn btn-destructive">Delete</button>
            <button (click)="deleteBoardModalVisible = false" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</div>