@import "../../../scss/buttons";
@import "../../../scss/colors";

:host {
    display: flex;
    width: 100%;
}

// :host.light-theme {
//     background: white;
//     .logo-container > p, .action-container > p {
//         color: black
//     }
// }

.logo-container {
    width: 40vw;
    display: flex;
    align-items: center;
}

.action-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-items-container {
    display: flex;
    align-items: center;
    position: relative;

    & > * {
        margin-left: 5px;
    }
}

.board-options-modal {
    position: absolute;
    top: 150%;
    z-index: 99;
    width: max-content;
    background-color: ghostwhite;
    border-radius: 3px;
    border: 1px solid rgb(99 95 199 / 50%);
}

.option {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $grey-light-25;
    }
}

svg {
    cursor: pointer;
    box-sizing: content-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.confirm-delete-board-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $black-50;
}

@media (width <= 767px) {
    .action-container {
        justify-content: flex-end !important;
    }

    .confirm-delete-board-container {
        max-width: 70vw !important;
    }

    .menu-items-container > svg:first-child {
        border-radius: 50%;
        padding: 1rem;
        background-color: $purple-dark;
    }

    .board-options-modal {
        left: -20%;
    }

    .logo-container {
        width: auto;
    }
}

@media (width >= 768px) and (width <= 1024px) {
    .confirm-delete-board-container {
        max-width: 50vw !important;
    }
}

.confirm-delete-board-container {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    z-index: 99;
    max-width: 30vw;
    display: flex;
    flex-direction: column;

    & > p:nth-child(2) {
        color: #828fa3;
    }

    .confirm-delete-board-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            flex-grow: 0.45;
        }
    }
}

.mobile-add-new-task-disabled {
    background-color: #635fc77a !important;
    cursor: auto;
}

.mobile-add-new-task-enabled {
    background-color: #635fc77a;
    cursor: pointer;
}

:host.dark-theme {
    background: #2b2c37;
    border-bottom: 1px solid #3e3f4e;

    .btn-disabled {
        color: darken(white, 50%);
    }

    .btn-primary {
        color: white;
    }

    .logo-container > p,
    .action-container > p {
        color: white;
    }

    .board-options-modal {
        background-color: #2b2c37;
        border: 1px solid #383a4d;

        & p:nth-child(1) {
            color: rgb(130 143 163) !important;
        }
    }

    .confirm-delete-board-container {
        background-color: #2b2c37;

        .btn-secondary {
            background-color: white;
        }
    }
}
