@import "../../partials/colors";
nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1400px;
    position: relative;
    .nav-links {
        display: flex;
        a {
            display: block;
            text-align: center;
            &::after {
                content: "";
                display: none;
                width: 0;
                height: 4px;
                background: $red;
                // transition: width 0.3s;
            }
            &:hover {
                cursor: pointer;
                color: $red;
            }
            &:hover::after {
                width: 100%;
                display: block;
                content: "In Progress";
                text-align: center;
                color: $green;
            }
        }
        a:link,
        a:visited,
        a:active {
            color: white;
        }
    }
    .social-link-container > img,
    svg {
        color: white;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
    a {
        margin-right: 1rem;
        &:last-of-type {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 830px) {
        flex-direction: column;
        align-items: center;
        * {
            margin-bottom: 1rem;
        }
    }
}
