<div class="heading">
  <div class="heading__invoices">Invoices</div>
  <div class="heading__thereAre7TotalIn">There are 7 total invoices</div>
</div>
<div class="newInvoice">
  <div class="newInvoice__rectangle"></div>
  <div class="newInvoice__newInvoice2">New Invoice</div>
  <div class="newInvoice__group3"><img src="assets/group-3-icon.svg" alt="" class="newInvoice__group3__icon" /></div>
</div>
<div class="filterWrapper">
  <div class="filterWrapper__filter">Filter by status</div>
  <div class="filterWrapper__path2">
    <img src="assets/path-2-icon.svg" alt="" class="filterWrapper__path2__icon2" />
  </div>
</div>
