:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

.heading {
  position: absolute;
  left: 355px;
  top: 78px;
  width: 135px;
  height: 54px;
  align-items: flex-start;
  overflow: hidden;
  &__invoices {
    color: #0c0e16;
    font-size: 36px;
    font-weight: bold;
    font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -1.125px;
    position: absolute;
    left: calc(50% - 8px);
    top: calc(50% - 10.5px);
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
  &__thereAre7TotalIn {
    color: #888eb0;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.1px;
    position: absolute;
    left: 50%;
    top: calc(50% - -19.5px);
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
}
.newInvoice {
  position: absolute;
  left: 935px;
  top: 77px;
  width: 150px;
  height: 48px;
  align-items: flex-start;
  overflow: hidden;
  &__rectangle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 24px;
    background-color: #7c5dfa;
  }
  &__newInvoice2 {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.25px;
    position: absolute;
    left: calc(50% - -19.5px);
    top: calc(50% - -1.5px);
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
  &__group3 {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    overflow: visible;
    &__icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.filterWrapper {
  position: absolute;
  left: 777px;
  top: 95px;
  width: 117.4558px;
  height: 15px;
  align-items: flex-start;
  overflow: hidden;
  &__filter {
    color: #0c0e16;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    font-family: League Spartan, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: -0.25px;
    position: absolute;
    left: 0;
    top: 50%;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    transform: translateY(-50%);
  }
  &__path2 {
    position: absolute;
    right: 0;
    top: calc(50% - 0.386px);
    width: 8.4558px;
    height: 4.2279px;
    overflow: visible;
    transform: translateY(-50%);
    &__icon2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
