<dialog #modal>
    <form [formGroup]="form"
        class="modal container p-2">
        <p class="l bold mb-1">Edit Task</p>
        <p class="semi-bold grey-medium-50-text">Title</p>
        <div class="title-container d-flex">
            <input formControlName="title"
                class="bold black-medium-50-text m">
        </div>
        <p class="semi-bold grey-medium-50-text mt-1">Description</p>
        <div class="description-container mb-1">
            <textarea formControlName="description"
                class="bold grey-medium-50-text mr-1"></textarea>
        </div>
        <p class="bold grey-medium-50-text">{{task?.subtasks?.length === 0 ? 'No Subtasks' : 'Subtasks'}}</p>
        <div *ngIf="(task?.subtasks?.length ?? 0) > 0"
            class="subtasks-container mt-1">
            <div class="subtask mb-1"
                *ngFor="let subtaskFormGroup of subtasks.controls; let i = index">
                <ng-container [formGroup]="subtaskFormGroup">
                    <div class="input-container">
                        <input class="semi-bold"
                            [ngClass]="{ 'error-border': subtaskFormGroup.controls.title.invalid && submitted }"
                            [formControl]="subtaskFormGroup.controls.title">
                        <span *ngIf="subtaskFormGroup.controls.title.invalid && submitted"
                            class="error mr-1">Can't be empty</span>
                    </div>
                    <svg (click)="removeSubtask(i)"
                        class="ml-1"
                        width="15"
                        height="15"
                        xmlns="http://www.w3.org/2000/svg">
                        <g fill="fill"
                            fill-rule="evenodd">
                            <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
                            <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
                        </g>
                    </svg>
                </ng-container>

            </div>
        </div>
        <button class="btn btn-secondary"
            (click)="addSubtask()">+ Add New Subtask</button>
        <div class="status-container mt-1">
            <p class="bold grey-medium-50-text">Status</p>
            <div class="status-dropdown semi-bold"
                [class.purple-border]="isDropdownOpen"
                (click)="toggleDropdown()"
                (keydown.enter)="toggleDropdown()"
                tabindex="0">
                <div class="selected-option"
                    [formGroup]="getActiveDropDownOptionFormGroup()">
                    <input formControlName="name"
                        readonly />
                    <svg *ngIf="!isDropdownOpen"
                        width="10"
                        height="7"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#635FC7"
                            stroke-width="2"
                            fill="none"
                            d="m1 1 4 4 4-4" />
                    </svg>
                    <svg *ngIf="isDropdownOpen"
                        width="10"
                        height="7"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#635FC7"
                            stroke-width="2"
                            fill="none"
                            d="M9 6 5 2 1 6" />
                    </svg>
                </div>
            </div>
            <div class="dropdown"
                *ngIf="isDropdownOpen">
                <div class="option"
                    *ngFor="let optionFormGroup of getInActiveDropDownOptionsFormArray(); let i = index;"
                    (click)="selectOption(getOptionId(optionFormGroup))"
                    (keydown.enter)="selectOption(getOptionId(optionFormGroup))"
                    tabindex="0">
                    {{getOptionName(optionFormGroup)}}
                </div>
            </div>
        </div>
        <button (click)="submit()"
            class="btn btn-primary mt-1">Save Changes</button>
    </form>
</dialog>