@import "../../../scss/buttons";
@import "../../../scss/colors";

:host {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $black-50;
}

@media (width <= 767px) {
    .container {
        width: 70vw !important;
    }
}

@media (width >= 768px) and (width <= 1024px) {
    .container {
        width: 40vw !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    min-height: 10vh;
    width: 30vw;

    & > * {
        width: 100%;

        & > p {
            margin-bottom: 0.5rem;
        }
    }
}

.title-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > p {
        width: 70%;
    }

    position: relative;
    margin-top: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #828fa341;
    border-radius: 2px;
    flex-grow: 1;
    outline: 0 none;

    &:focus {
        border: 2px solid $purple-dark;
    }
}

.description-container {
    margin-top: 0.5rem;

    & > textarea {
        max-width: 100%;
        min-width: 100%;
        border-radius: 2px;
        flex-grow: 1;
    }
}

.subtasks-container {
    max-height: 30vh;
    overflow: auto;
}

.subtask {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

svg {
    box-sizing: content-box;
    fill: $cross-color;
    cursor: pointer;

    &:hover {
        fill: $red-dark !important;
    }

    flex-shrink: 0;
}

.status-dropdown {
    width: 100%;
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid #828fa341;
    border-radius: 2px;

    &:focus {
        outline: none;
    }

    position: relative;
}

.selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    input {
        border: none;
    }
}

.option {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $grey-light-25;
    }
}

.purple-border {
    border: 1px solid $purple-dark;
}

.dropdown {
    background-color: $grey-light;
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: opacity 0.3s, height 0.3s;
}

:host.dark-theme {
    .container {
        background-color: #2b2c37;

        p {
            color: white !important;
        }
    }

    .btn-secondary {
        background-color: white;
    }

    input:not([type="checkbox"]) {
        background-color: #2b2c37;
        color: white !important;
    }

    textarea {
        color: rgb(255 255 255 / 25%) !important;
        background-color: #2b2c37;
    }

    .status-dropdown {
        background-color: #2b2c37;
    }

    .dropdown {
        background-color: rgb(130 143 163 / 15%);

        p {
            color: white;
        }
    }

    .description-container + p,
    .status-container > p {
        color: white !important;
    }

    .task-options-modal {
        background-color: rgb(130 143 163 / 10%);

        & > p:nth-child(1) {
            color: rgb(130 143 163) !important;
        }
    }
}
