button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Space Grotesk";
    text-transform: uppercase;
    line-height: 45px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    &::after {
        content: "";
        width: 0;
        height: 4px;
        background: $green;
        transition: width 0.3s;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover::after {
        width: 100%;
    }
}
