@import "../../../styles";

.view-invoice-details-table {
    padding: 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    &--light {
        background-color: map-get($component-palette, view-invoice-details-table, light-mode, background);
    }
    &--dark {
        background-color: map-get($component-palette, view-invoice-details-table, dark-mode, background);
        color: map-get($component-palette, view-invoice-details-table, dark-mode, text);
    }
    &__headings {
        display: grid;
        margin-bottom: 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
    &__heading:not(:first-child) {
        display: flex;
        justify-content: flex-end;
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 1rem;
        font-weight: 700;
        &__property:not(:first-child) {
            display: flex;
            justify-content: flex-end;
        }
        &__quantity {
            color: map-get($component-palette, view-invoice-details, light-mode, items, item, text, base);
        }
        &__price {
            color: map-get($component-palette, view-invoice-details, light-mode, items, item, text, base);
        }
    }
}
