<!-- <div class="empty-board">
    <p class="pb-1 semi-bold grey-medium-50-text">This board is empty. Create a new column to get started.</p>
    <button class="btn btn-primary">+ Add New Column</button>
</div> -->
<div class="lane mr-2">
    <div class="p-1">
        <p class="mb-1 grey-medium-50-text bold"><span class="oval blue mr-1"></span>TODO (4)</p>
    </div>
    <div class="task p-2">
        <p class="task-heading bold">Build UI for onboarding flow</p>
        <p class="task-subheading grey-medium-50-text bold">0 of 3 subtasks</p>
    </div>
</div>
<div class="lane mr-2">
    <div class="p-1">
        <p class="mb-1 grey-light-text bold">Add new column</p>
    </div>
    <div class="d-flex justify-center h-100 align-center add-new-column">
        <h2 class="grey-medium-50-text">+ New Column</h2>
    </div>
</div>