@import "../../../scss/buttons";
@import "../../../scss/colors";

:host {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: $black-50;
}

dialog {
    border: none;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::backdrop {
        background-color: $black-50;
    }
}

@media (width >= 768px) and (width <= 1024px) {
    .container {
        width: 35vw !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    min-height: 10vh;
    width: 30vw;

    & > * {
        width: 100%;

        & > p {
            margin-bottom: 0.5rem;
        }
    }
}

.title-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & > p {
        width: 70%;
    }

    position: relative;
    margin-top: 0.5rem;
}

.description-container {
    margin-top: 0.5rem;

    & > textarea {
        max-width: 100%;
        min-width: 100%;
        border-radius: 2px;
        flex-grow: 1;
        outline: 0 none;
        border: none;
        resize: none; /* Disable textarea resizing */
        cursor: auto; /* Reset cursor style */ /* Allow text selection within textarea */
        -webkit-user-drag: none; /* Disable drag on WebKit browsers */
        user-select: text; /* Allow text selection on Firefox */
    }
}

input:not([type="checkbox"]) {
    border: none;
    flex-grow: 1;
    outline: 0 none;
    font-size: 1rem;
}

.selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    & > input {
        outline: none;
        border: none;
        font-size: 1rem;
    }
}

.subtask,
.title-container > input {
    padding: 0.5rem;
    border-radius: 2px;
}

.subtasks-container {
    max-height: 30vh;
    overflow: auto;

    input:not([type="checkbox"]) {
        background-color: #f4f7fd;
    }
}

.subtask {
    display: flex;
    justify-content: flex-start;
    background-color: #f4f7fd;
    border-radius: 2px;

    &:hover {
        background-color: rgb(99 95 199 / 25%);
        cursor: pointer;

        > * {
            cursor: pointer;
            background-color: rgb(99 95 199 / 0%) !important;
        }
    }
}

.subtask-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        > * {
            cursor: pointer;
            background-color: rgb(99 95 199 / 0%);
        }
    }
}

.checkbox {
    accent-color: $purple-dark;
}

.subtask-completed {
    text-decoration: line-through;
}

.status-dropdown {
    width: 100%;
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid #828fa341;
    border-radius: 2px;

    &:focus {
        outline: none;
    }

    position: relative;
}

.option {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $grey-light-25;
    }
}

.purple-border {
    border: 1px solid $purple-dark;
}

.dropdown {
    background-color: $grey-light;
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: opacity 0.3s, height 0.3s;

    // position: absolute;
    // opacity: 0;
    // height: 0;
    // left: 0;
    // right: 0;
    // top: 100%;
}

svg {
    &:hover {
        cursor: pointer;
    }

    box-sizing: content-box;

    @media (width >= 769px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.grey {
    color: $grey-light-5;
}

.task-options-modal {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
    background-color: ghostwhite;
    border-radius: 3px;
    border: 1px solid rgb(99 95 199 / 50%);
}

// @keyframes blink {
//     0% {
//         border-color: transparent;
//     }
//     50% {
//         border-color: $purple-dark;
//     }
//     100% {
//         border-color: transparent;
//     }
// }

// .subtask .blinking-border,
// .title-container .blinking-border {
//     animation: blink 1s infinite;
// }

.confirm-delete-task-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $black-50;
}

@media (width <= 767px) {
    .container {
        width: 60vw !important;
        min-height: 40vh !important;
    }

    .confirm-delete-task-container {
        max-width: 70vw !important;
    }
}

@media (width >= 768px) and (width <= 1024px) {
    .confirm-delete-task-container {
        max-width: 35vw !important;
    }
}

.confirm-delete-task-container {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    z-index: 99;
    max-width: 30vw;
    display: flex;
    flex-direction: column;

    // align-items: center;
    // justify-content: center;
    & > p:nth-child(2) {
        color: #828fa3;
    }

    .confirm-delete-task-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            flex-grow: 0.45;
        }
    }
}

:host.dark-theme {
    .container {
        background-color: #2b2c37;
    }

    input:not([type="checkbox"]) {
        color: white !important;
        background-color: #2b2c37;
    }

    .subtasks-container {
        .subtask-completed {
            color: rgb(255 255 255 / 50%) !important;
        }

        input:not([type="checkbox"]) {
            background-color: #20212c;
        }

        input[type="checkbox"] {
            filter: opacity(12%);
        }

        .subtask {
            background-color: #20212c !important;

            .checkbox-dark-theme-completed {
                filter: opacity(100%);
            }
        }
    }

    textarea {
        color: #828fa3 !important;
        background-color: #2b2c37;
    }

    .status-dropdown {
        background-color: #2b2c37;
    }

    .dropdown {
        background-color: rgb(130 143 163 / 15%);

        .option {
            color: white !important;
        }
    }

    .description-container + p,
    .status-container > p {
        color: white !important;
    }

    .task-options-modal {
        background-color: #20212c;
        border: 1px solid #383a4d;

        & > p:nth-child(1) {
            color: rgb(130 143 163) !important;
        }
    }

    .confirm-delete-task-container {
        background-color: #2b2c37;

        .btn-secondary {
            background-color: white;
        }
    }
}
