@import "../../../styles";

.status {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem;
    font-weight: 700;
    border-radius: 5px;
    &--small {
        font-size: 0.875rem;
    }
    &--medium {
        font-size: 1.25rem;
    }
    &--large {
        font-size: 1.75rem;
    }
    &__oval {
        // theme-independent styles
        margin-right: 0.75rem;
        &--pending {
            svg {
                fill: map-get($component-palette, invoice-status, pending, light, color);
            }
        }
        &--paid {
            svg {
                fill: map-get($component-palette, invoice-status, paid, light, color);
            }
        }
        &--draft {
            svg {
                fill: map-get($component-palette, invoice-status, draft, light, color);
            }
        }
    }

    &--pending {
        background-color: map-get($component-palette, invoice-status, pending, background);
        color: map-get($component-palette, invoice-status, pending, color);
    }

    &--paid {
        background-color: map-get($component-palette, invoice-status, paid, background);
        color: map-get($component-palette, invoice-status, paid, color);
    }

    &--draft {
        background-color: map-get($component-palette, invoice-status, draft, background);
        color: map-get($component-palette, invoice-status, draft, color);
    }
}
