/* You can add global styles to this file, and also import other style files */
// @import './pages/index';
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");

@import './partials/index';

:root {
    font-size: 18px;
    font-family: "Space Grotesk";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

@import './components/index';