<app-sidebar></app-sidebar>

<!-- create-invoice-form container -->
<!-- todo should be consistent in both forms -->
<div *ngIf="createNewInvoiceVisible" (click)="createNewInvoiceVisible = false"
    class="z-20 w-full h-full bg-black opacity-50 fixed"></div>
<div [formGroup]="newInvoiceForm" *ngIf="createNewInvoiceVisible"
    class="fixed z-30 p-3 sm:p-10 pb-0 w-full h-[calc(100%-5rem)] md:p-0 md:pl-[8vw] md:pr-[3vw] md:pt-[3vw] md:w-[80vw] md:h-[calc(100%-7rem)] lg:w-[40vw] lg:h-full bg-white overflow-y-auto dark:bg-[#141625] dark:text-white">
    <p class="text-2xl font-bold dark:text-white">New Invoice</p>
    <p class="font-bold text-cornflower-blue-500 mt-10">Bill Form</p>
    <!-- street address -->
    <div class="my-5 flex flex-col">
        <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.street)"
            class="text-ship-cove-500 dark:text-selago-100">Street Address</label>
        <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.street)" formControlName="street"
            class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
    </div>
    <!-- city, postcode country -->
    <div class="grid grid-cols-3 gap-5">
        <div>
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.city)"
                class="text-ship-cove-500 dark:text-selago-100">City</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.city)" formControlName="city"
                class="border rounded p-3 font-bold w-full dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <div>
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.postCode)"
                class="text-ship-cove-500 dark:text-selago-100">Post Code</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.postCode)" formControlName="postCode"
                class="border rounded p-3 font-bold w-full dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <div>
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.country)"
                class="text-ship-cove-500 dark:text-selago-100">Country</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.country)" formControlName="country"
                class="border rounded p-3 font-bold w-full dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
    </div>
    <p class="my-5 text-cornflower-blue-500 font-bold">Bill To</p>
    <ng-container formGroupName="client">
        <!-- client name -->
        <div class="flex flex-col mb-5">
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.client.controls.name)"
                class="text-ship-cove-500 dark:text-selago-100">Client's Name</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.client.controls.name)" formControlName="name"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
        </div>
        <!-- client email -->
        <div class="flex flex-col mb-5">
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.client.controls.email)"
                class="text-ship-cove-500 dark:text-selago-100">Client's Email</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.client.controls.email)" formControlName="email"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="email" />
        </div>
        <ng-container formGroupName="address">
            <!-- client street address -->
            <div class="flex flex-col mb-5">
                <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.client.controls.address.controls.street)"
                    class="text-ship-cove-500 dark:text-selago-100">Street Address</label>
                <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.client.controls.address.controls.street)"
                    formControlName="street"
                    class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
            </div>
            <!-- client city, postcode country -->
            <div class="grid grid-cols-3 gap-5 mb-5">
                <div>
                    <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.client.controls.address.controls.city)"
                        class="text-ship-cove-500 dark:text-selago-100">City</label>
                    <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.client.controls.address.controls.city)"
                        formControlName="city"
                        class="border rounded font-bold p-3 box-border w-full dark:bg-mirage-950 dark:border-ebony-clay-950"
                        type="text" />
                </div>
                <div>
                    <label
                        [ngClass]="labelInvalidClass(newInvoiceForm.controls.client.controls.address.controls.postCode)"
                        class="text-ship-cove-500 dark:text-selago-100">Post Code</label>
                    <input
                        [ngClass]="inputInvalidClass(newInvoiceForm.controls.client.controls.address.controls.postCode)"
                        formControlName="postCode"
                        class="border rounded font-bold p-3 box-border w-full dark:bg-mirage-950 dark:border-ebony-clay-950"
                        type="text" />
                </div>
                <div>
                    <label
                        [ngClass]="labelInvalidClass(newInvoiceForm.controls.client.controls.address.controls.country)"
                        class="text-ship-cove-500 dark:text-selago-100">Country</label>
                    <input
                        [ngClass]="inputInvalidClass(newInvoiceForm.controls.client.controls.address.controls.country)"
                        formControlName="country"
                        class="border rounded font-bold p-3 box-border w-full dark:bg-mirage-950 dark:border-ebony-clay-950"
                        type="text" />
                </div>
            </div>
        </ng-container>
    </ng-container>

    <!-- date and due -->
    <div class="flex flex-col sm:flex-row sm:justify-between mb-5">
        <!-- invoice issue date -->
        <div class="flex flex-col mb-5 sm:mb-0">
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.purchaseDate)"
                class="text-ship-cove-500 dark:text-selago-100">Issue Date</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.purchaseDate)" formControlName="purchaseDate"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950 dark:text-selago-100"
                type="date" />
        </div>
        <!-- payment due -->
        <div class="flex flex-col">
            <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.paymentDueDate)"
                class="text-ship-cove-500 dark:text-selago-100">Payment Due</label>
            <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.paymentDueDate)"
                formControlName="paymentDueDate"
                class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="date"
                [min]="newInvoiceForm.controls.purchaseDate.value" />
        </div>
    </div>
    <!-- project name -->
    <div class="flex flex-col mb-5">
        <label [ngClass]="labelInvalidClass(newInvoiceForm.controls.projectName)"
            class="text-ship-cove-500 dark:text-selago-100">Project Description</label>
        <input [ngClass]="inputInvalidClass(newInvoiceForm.controls.projectName)" formControlName="projectName"
            class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text" />
    </div>
    <!-- item list -->
    <p class="text-lg text-ship-cove-500 mb-5 mt-10 font-bold">Item List</p>
    <div>
        <div class="hidden sm:grid grid-cols-10 mb-3 gap-3">
            <p class="text-ship-cove-500 dark:text-selago-100 sm:col-span-3">Item List</p>
            <p class="text-ship-cove-500 dark:text-selago-100 sm:col-span-1">Qty</p>
            <p class="text-ship-cove-500 dark:text-selago-100 sm:col-span-2">Price</p>
            <p class="text-ship-cove-500 dark:text-selago-100 sm:col-span-2 flex justify-center">Total</p>
            <p></p>
        </div>
        <div *ngFor="let item of items.controls; let i = index;"
            class="grid grid-cols-10 gap-3 mb-12 sm:mb-3 items-center text-white">
            <!-- item name -->
            <div class="flex flex-col col-span-full sm:col-span-3">
                <p class="text-ship-cove-500 dark:text-selago-100 sm:hidden">Item List</p>
                <input [ngClass]="inputInvalidClass(item.controls.name)"
                    class="border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950" type="text"
                    [formControl]="item.controls.name" />
            </div>
            <!-- qty -->
            <div class="flex flex-col col-span-2 sm:col-span-1">
                <p class="text-ship-cove-500 dark:text-selago-100 sm:hidden">Quantity</p>
                <input [ngClass]="inputInvalidClass(item.controls.quantity)"
                    class="appearance-none border rounded p-3 font-bold text-center dark:bg-mirage-950 dark:border-ebony-clay-950"
                    type="text" [formControl]="item.controls.quantity" />
            </div>
            <!-- price -->
            <div class="flex flex-col col-span-4 sm:col-span-2">
                <p class="text-ship-cove-500 dark:text-selago-100 sm:hidden">Price</p>
                <input [ngClass]="inputInvalidClass(item.controls.price)"
                    class="appearance-none border rounded p-3 font-bold dark:bg-mirage-950 dark:border-ebony-clay-950"
                    type="text" [formControl]="item.controls.price" />
            </div>
            <!-- total -->
            <div class="flex flex-col col-span-3 sm:col-span-2">
                <p class="text-ship-cove-500 dark:text-selago-100 sm:hidden text-center">Total</p>
                <p class="text-ship-cove-500 text-center dark:text-white">{{getTotal(item)}}</p>
            </div>
            <!-- delete -->
            <svg class="col-span-1" (click)="deleteItem(i)"
                class="cursor-pointer fill-[#888EB0] hover:fill-red-500 justify-self-end" width="13" height="16"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z"
                    fill-rule="nonzero" />
            </svg>
        </div>
        <button (click)="addNewItem()"
            class="dark:hover:bg-selago-100 dark:hover:text-ship-cove-500 fill-[#7C5DFA] dark:fill-selago-100 dark:hover:fill-ship-cove-500 mb-5 w-full rounded-full bg-selago-50 text-cornflower-blue-500 flex justify-center items-center py-4 font-bold dark:bg-ebony-clay-950 dark:text-selago-100">
            <svg class="mr-2" width="11" height="11" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.313 10.023v-3.71h3.71v-2.58h-3.71V.023h-2.58v3.71H.023v2.58h3.71v3.71z"
                    fill-rule="nonzero" />
            </svg>
            Add New Item
        </button>
    </div>
    <p class="text-red-500" *ngIf="newInvoiceForm.invalid && newInvoiceForm.dirty && submitted">- All fields must be
        correctly
        added</p>
    <p class="text-red-500" *ngIf="newInvoiceForm.controls.items.controls.length === 0 && submitted">- An item must be
        added</p>
    <!-- buttons-container -->
    <div class="p-5 sm:p-0 flex flex-col sm:flex-row sm:justify-between justify-center bg-white z-10 dark:bg-[#141625]">
        <button (click)="discard()"
            class="w-full mb-3 sm:mb-0 rounded-full bg-selago-200 dark:hover:bg-selago-50 text-ship-cove-500 flex justify-center items-center py-4 px-6 font-bold">
            Discard
        </button>
        <button (click)="submit('draft')"
            class="w-full sm:mx-3 mb-3 sm:mb-0 rounded-full bg-oxford-blue-800 dark:hover:bg-oxford-blue-500 dark:hover:text-white text-bali-hai-600 flex justify-center items-center py-4 px-6 font-bold">
            Save as Draft
        </button>
        <button (click)="submit('pending')"
            class="w-full rounded-full bg-cornflower-blue-500 dark:hover:bg-heliotrope-400 flex justify-center items-center py-4 px-6 font-bold text-selago-50">
            Save & Send
        </button>
    </div>
</div>

<!-- invoices-container -->
<div [ngClass]="{'fixed': createNewInvoiceVisible}"
    class="w-full h-[calc(100%-5rem)] md:h-[100vh] p-5 bg-whisper-50 flex justify-center dark:bg-[#141625]">
    <div class="w-[90vw] md:w-5/6 lg:w-[60vw]">
        <!-- top container -->
        <div class="sm:flex sm:justify-between sm:mt-10">
            <div class="mb-5 sm:mb-0">
                <p class="text-center sm:text-left font-bold text-3xl text-vulcan-950 dark:text-white">Invoices</p>
                <p *ngIf="filters$.value.length === 0"
                    class="text-center sm:text-left text-bali-hai-600 dark:text-selago-100">{{invoices.length > 0 ?
                    'There are ' + invoices.length
                    + ' total invoices'
                    : 'No Invoices'}}</p>
                <p *ngIf="filters$.value.length > 0"
                    class="text-center sm:text-left text-bali-hai-600 dark:text-selago-100">There are
                    {{internalInvoices.length}} {{filters$.value.join(',')}} invoices</p>
            </div>
            <!-- filter by status and new invoice button-->
            <div class="flex justify-between">
                <div (click)="showDropdown($event)"
                    class="flex items-center mr-5 md:mr-20 hover:cursor-pointer relative">
                    <p class="mr-3 font-bold text-lg dark:text-white hidden md:block">Filter by status</p>
                    <p class="mr-3 font-bold text-lg dark:text-white md:hidden">Filter</p>
                    <svg *ngIf="!dropdownVisible" width="11" height="7" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1l4.228 4.228L9.456 1" stroke="#7C5DFA" stroke-width="2" fill="none"
                            fill-rule="evenodd" />
                    </svg>
                    <svg *ngIf="dropdownVisible" class="rotate-180" width="11" height="7"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1l4.228 4.228L9.456 1" stroke="#7C5DFA" stroke-width="2" fill="none"
                            fill-rule="evenodd" />
                    </svg>
                    <!-- filter by status dropdown -->
                    <div #dropdown *ngIf="dropdownVisible" (click)="stopPropagation($event)"
                        class="absolute -left-1/4 p-3 top-3/4 bg-white md:w-[135%] rounded-lg text-lg border dark:border-0 shadow-lg dark:bg-ebony-clay-950 dark:text-white">
                        <label class="p-3 rounded font-bold flex items-center">
                            <input class="mr-2 accent-cornflower-blue-500" type="checkbox" [(ngModel)]="paidChecked"
                                (change)="filterInvoices('paid', $event)">
                            Paid
                        </label>

                        <label class="p-3 rounded font-bold flex items-center">
                            <input class="mr-2 accent-cornflower-blue-500" type="checkbox" [(ngModel)]="pendingChecked"
                                (change)="filterInvoices('pending', $event)">
                            Pending
                        </label>

                        <label class="p-3 rounded font-bold flex items-center">
                            <input class="mr-2 accent-cornflower-blue-500" type="checkbox" [(ngModel)]="draftChecked"
                                (change)="filterInvoices('draft', $event)">
                            Draft
                        </label>
                    </div>
                </div>
                <button (click)="createNewInvoiceVisible = true"
                    class="flex items-center justify-center pt-3 pb-3 pl-4 pr-4 rounded-full bg-cornflower-blue-500 text-white font-bold hover:bg-heliotrope-400">
                    <div class="bg-white rounded-full h-10 w-10 flex items-center justify-center">
                        <svg width="11" height="11" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.313 10.023v-3.71h3.71v-2.58h-3.71V.023h-2.58v3.71H.023v2.58h3.71v3.71z"
                                fill="#7C5DFA" fill-rule="nonzero" />
                        </svg>
                    </div>
                    <span class="ml-5">New Invoice</span>
                </button>
            </div>
        </div>
        <!-- invoices container -->
        <div *ngIf="internalInvoices.length > 0" class="mt-10">
            <div (click)="selectInvoice(invoice)" *ngFor="let invoice of internalInvoices"
                class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-white p-5 rounded cursor-pointer mb-3 hover:border border-cornflower-blue-500 dark:bg-mirage-950">
                <p class="flex justify-between text-vulcan-950 dark:text-white"><span
                        class="sm:hidden text-vulcan-950 dark:text-white">Id</span>#{{invoice.id}}</p>
                <p class="flex justify-between text-bali-hai-600 dark:text-selago-100"><span
                        class="sm:hidden text-bali-hai-600 dark:text-selago-100">Purchase
                        Date</span>{{invoice.purchaseDate | date}}</p>
                <p class="flex justify-between text-bali-hai-600 dark:text-selago-100"><span
                        class="sm:hidden text-bali-hai-600 dark:text-selago-100">Client
                        Name</span>{{invoice.client.name}}</p>
                <p class="flex justify-between mb-5 sm:mb-0 font-bold text-vulcan-950 dark:text-white"><span
                        class="sm:hidden font-bold text-vulcan-950 dark:text-white">Total</span>{{calculateTotalItemsAmount(invoice)
                    | currency:
                    'USD'}}</p>
                <div class="flex items-center justify-center rounded px-3 xs:px-5 md:px-7 py-2 xs:min-w-[100px]"
                    [ngClass]="getStatusClass(invoice.status)">
                    <svg preserveAspectRatio="none" width="8" height="8" viewBox="0 0 8 8" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle *ngIf="invoice.status === 'paid'" class="fill-[#33D69F]" cx="4" cy="4" r="4" />
                        <circle *ngIf="invoice.status === 'pending'" class="fill-[#ff8f00]" cx="4" cy="4" r="4" />
                        <circle *ngIf="invoice.status === 'draft'" class="fill-[#373b53] dark:fill-selago-100" cx="4"
                            cy="4" r="4" />
                    </svg>
                    <p *ngIf="invoice.status === 'paid'" class="ml-3 text-shamrock-400 font-bold">{{invoice.status |
                        titlecase}}</p>
                    <p *ngIf="invoice.status === 'draft'"
                        class="ml-3 text-oxford-blue-800 font-bold dark:text-selago-100">{{invoice.status |
                        titlecase}}</p>
                    <p *ngIf="invoice.status === 'pending'" class="ml-3 text-pizazz-600 font-bold">{{invoice.status |
                        titlecase}}</p>
                </div>
                <svg class="hidden sm:block" width="7" height="10" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1l4 4-4 4" stroke="#7C5DFA" stroke-width="2" fill="none" fill-rule="evenodd" />
                </svg>
            </div>
        </div>

        <!-- no invoices container -->
        <div *ngIf="internalInvoices.length === 0" class="w-full h-3/4 flex items-center justify-center flex-col">
            <img src="assets/illustration-empty.svg">
            <p class="font-bold text-5xl text-vulcan-950 dark:text-white">There is nothing here</p>
            <p class="text-bali-hai-600 text-2xl">Create an invoice by clicking the <span class="font-bold">New
                    Invoice</span> button and get started</p>
        </div>
    </div>
</div>