<app-navbar (createNewTask)="createNewTask = true"></app-navbar>
<app-sidebar (openCreatBoardModalEvent)="createNewBoard = true" (hideSidebarEvent)="hideSidebarVisibleEvent()"></app-sidebar>
<app-board></app-board>
<app-add-new-task (closeModalEvent)="createNewTask = false" *ngIf="createNewTask"></app-add-new-task>
<app-add-new-board (closeModalEvent)="createNewBoard = false" *ngIf="createNewBoard"></app-add-new-board>
<app-add-new-column *ngIf="addNewColumnModalVisible"></app-add-new-column>
<app-edit-column *ngIf="editColumnModalVisible"></app-edit-column>
<app-view-task *ngIf="viewTaskModalVisible"></app-view-task>
<app-edit-board *ngIf="editBoardModalVisible"></app-edit-board>
<app-edit-task *ngIf="editTaskModalVisible"></app-edit-task>
<!-- <app-view-task *ngIf="true"></app-view-task> -->