@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Hanken Grotesk";
  background-color: #ECF2FF;
}

.score-card-container {
  height: 512px;
  width: 736px;
  display: flex;
  background-color: white;
  border-radius: 2.5rem;
  box-shadow: 0 0 100px 10px #CAC9FF;
}
.score-card-container .score-container {
  color: white;
  width: 50%;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(105, 67, 255) 0%, rgb(47, 44, 233) 100%);
}
.score-card-container .score-container__heading {
  font-size: 1.5rem;
  color: #CAC9FF;
}
.score-card-container .score-container__score {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.score-card-container .score-container__score .circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgb(77, 33, 201) 0%, rgba(47, 44, 233, 0) 100%);
  position: absolute;
  text-align: center;
  z-index: 0;
}
.score-card-container .score-container__score h1 {
  font-size: 4rem;
  z-index: 1;
}
.score-card-container .score-container__result {
  font-size: 1.85rem;
  margin-bottom: 1rem;
}
.score-card-container .score-container__result-description {
  width: 75%;
  text-align: center;
  color: #CAC9FF;
}
.score-card-container .summary-container {
  width: 50%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
.score-card-container .summary-container__heading {
  font-size: 1.5rem;
}
.score-card-container .summary-container span {
  color: rgba(48, 59, 89, 0.5333333333);
}
.score-card-container .summary-container img {
  margin-right: 0.5rem;
}
.score-card-container .summary-container__reaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: hsl(0, 100%, 95%);
  padding: 1rem;
  border-radius: 0.75rem;
  margin-top: 1.25rem;
  margin-bottom: 0.75rem;
}
.score-card-container .summary-container__reaction-heading {
  display: flex;
  color: #FF5555;
}
.score-card-container .summary-container__memory {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: hsl(60, 100%, 95%);
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.75rem;
}
.score-card-container .summary-container__memory-heading {
  display: flex;
  color: #FFB21E;
}
.score-card-container .summary-container__verbal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: hsl(120, 100%, 95%);
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.75rem;
}
.score-card-container .summary-container__verbal-heading {
  display: flex;
  color: #00BB8F;
}
.score-card-container .summary-container__visual {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ECF2FF;
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.75rem;
}
.score-card-container .summary-container__visual-heading {
  display: flex;
  color: #1125D6;
}
.score-card-container .summary-container button {
  width: 100%;
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  font-family: "Hanken Grotesk";
  font-size: 1rem;
  margin-top: 1rem;
  background-color: #303B59;
  color: white;
}
.score-card-container .summary-container button:hover {
  background: linear-gradient(180deg, rgb(105, 67, 255) 0%, rgb(47, 44, 233) 100%);
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .score-card-container {
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  .score-card-container .score-container {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .score-card-container .score-container__heading {
    font-size: 1rem;
    margin-top: 1rem;
    color: #CAC9FF;
  }
  .score-card-container .score-container__result-description {
    font-size: 0.85rem;
    margin-bottom: 2rem;
    color: #CAC9FF;
  }
  .score-card-container .score-container__result {
    font-size: 1.5rem;
  }
  .score-card-container .score-container__score {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
  .score-card-container .score-container__score h1 {
    font-size: 3rem;
  }
  .score-card-container .score-container__score .circle {
    height: 140px;
    width: 140px;
  }
  .score-card-container .summary-container {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
