<div class="hero section-padding">
    <div class="text-container">
        <h1 #headingOne class="xl">you Nice to meet!</h1>
        <h1 #headingTwo class="xl">a Im hasManrth. Pa</h1>
        <div #underline class="underline"></div>
        <p #description class="m">Based in India, I'm a front end developer passionate about building accessible web
            apps that users
            love.</p>
        <button class="contact"><span class="m">Contact Me</span></button>
    </div>
    <div class="img-container">
        <img alt="" src="../../assets/parth_goa.jpg">
    </div>
</div>