@import '../../partials//miscelleneous';

.hero {
    padding: 2rem;
    max-width: $max-width;
    width: 100%;
    position: relative;
    border-bottom: 1px solid white;
    h1 {
        animation: start 0.75s ease;
        background-color: $black;
        display: inline-flex;
        &:first-of-type {
            margin-top: min(10vw, 4rem);
            @media screen and (max-width: 600px) {
                margin-top: 0rem;
            }
        }
    }

    p {
        animation: start 0.75s ease;
        margin-top: min(3.84vw, 3rem);
        max-width: min(48.4vw, 500px);
    }

    .img-container {
        top: 0;
        right: 2rem;
        z-index: -1;
        position: absolute;
        width: 445px;
        // background-color: $grey;
        width: min(37vw, 445px);

        img {
            width: 100%;
        }
    }

    .underline {
        display: inherit;
        height: min(10px, 1vw);
        background-color: $green;
        width: 0;
    }

    button {
        animation: start 0.75s ease;
        margin-top: 5rem;
        margin-bottom: min(5vw, 11rem);
        @media screen and (max-width: 460px) {
            margin-top: 1rem;
        }
        @media screen and (min-width: 460px) and (max-width: 529px) {
            margin-top: 2rem;
        }
    }
}
