@import "../../partials/miscelleneous";
@import "../../partials/colors";

.hero {
    max-width: $max-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    .text-container {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .scramble-text-container {
            h1 {
                animation: start 0.75s ease;
                background-color: $black;
                display: inline-flex;
            }
        }
    }

    p {
        animation: start 0.75s ease;
        margin-top: min(3.84vw, 3rem);
        max-width: min(48.4vw, 500px);
    }

    .img-container {
        top: 0;
        right: 2rem;
        z-index: -1;
        max-width: 450px;
        width: min(37vw, 445px);

        img {
            width: 100%;
        }
    }

    .underline {
        display: inherit;
        height: min(10px, 1vw);
        background-color: $green;
        width: 0;
    }

    button {
        margin-top: 5vw;
    }
}
