.edit-invoice-table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    align-items: center;
    &--light {
    }
    &--dark {
    }
    &__headings {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 1fr;
    }
    app-input {
        margin-bottom: 1rem;
    }

    p {
        color: #7E88C3;
    }

    svg {
        cursor: pointer;
        fill: #888EB0;
        &:hover {
            fill: red;
        }
    }

    app-button > .button {
        width: 100%;
    }
}
