@import "../../../styles";

.view-invoice-status {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-weight: 500;
    padding: 1rem 2rem;
    box-sizing: border-box;
    &--light {
        color: map-get($component-palette, view-invoice-status, light-mode, text);
        background-color: map-get($component-palette, view-invoice-status, light-mode, background);
    }
    &--dark {
        color: map-get($component-palette, view-invoice-status, dark-mode, text);
        background-color: map-get($component-palette, view-invoice-status, dark-mode, background);
    }
    &__status-wrapper {
        display: flex;
        align-items: center;
        p {
            color: map-get($component-palette, view-invoice-status, light-mode, text);
        }
        * {
            margin-right: 2rem;
        }
    }

    &__button-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        * {
            margin-left: 1rem;
        }
    }
}