@import "../../../scss/buttons";
@import "../../../scss/colors";

:host {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: $black-50;
}

dialog {
    border: none;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::backdrop {
        background-color: $black-50;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    min-height: 60vh;
    width: 25vw;

    & > * {
        width: 100%;

        & > p {
            margin-bottom: 0.5rem;
        }
    }
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #828fa341;
    border-radius: 2px;
    flex-grow: 1;
    outline: 0 none;

    &:focus {
        border: 2px solid $purple-dark;
    }
}

.subtask {
    display: flex;
    align-items: center;

    input {
        flex-grow: 1;
    }

    svg {
        flex-shrink: 0;
        fill: $cross-color;
        cursor: pointer;

        &:hover {
            fill: $red-dark !important;
        }
    }
}

.error-cross {
    fill: $red-dark !important;
}

.status-dropdown {
    width: 100%;
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid #828fa341;
    border-radius: 2px;

    &:focus {
        outline: none;
    }

    position: relative;
}

.selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.option {
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: $grey-light-25;
    }
}

.purple-border {
    border: 1px solid $purple-dark;
}

.dropdown {
    background-color: $grey-light;
    border-radius: 5px;
    margin-top: 0.5rem;
    transition: opacity 0.3s, height 0.3s;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.error {
    color: $red-dark;
    position: absolute;
    padding-right: 1rem;
}

.error-border {
    border: 1px solid $red-dark;
}

:host.dark-theme {
    .container {
        background: #20212c;

        p {
            color: white !important;
        }
    }

    input {
        color: white !important;
        background-color: #2b2c37;
    }

    textarea {
        color: white !important;
        background-color: #2b2c37;
    }

    .btn-secondary {
        background-color: white;
    }

    .status-dropdown {
        background-color: #20212c;
    }

    .dropdown {
        background-color: rgb(130 143 163 / 15%);

        .option {
            color: white;
        }
    }

    .column-heading > p {
        color: #828fa3 !important;
    }

    .empty-board {
        background: #20212c;

        & > p {
            color: #828fa3 !important;
        }
    }

    .add-new-column {
        background-color: rgb(43 44 55 / 25%);

        & h2 {
            color: #828fa3 !important;
        }
    }

    .task {
        background-color: #2b2c37;
        box-shadow: none;

        .task-heading {
            color: white;
        }

        .task-subheading {
            color: #828fa3 !important;
        }
    }
}

@media (width <= 767px) {
    .container {
        width: 60vw !important;
        min-height: 40vh !important;
    }
}

// between 768px and 1024px
@media (width >= 768px) and (width <= 1024px) {
    .container {
        min-height: 40vh !important;
        width: 50vw !important;
    }
}
