<form [formGroup]="form">
    <div class="modal container p-2">
        <p class="bold m">Add New Task</p>
        <div class="title-container d-flex flex-column mt-1">
            <p class="bold grey-medium-50-text">Title</p>
            <div class="input-container">
                <input [ngClass]="{ 'error-border': isControlInvalid('title') }" formControlName="title" placeholder="e.g. Take coffee break" />
                <span *ngIf="isControlInvalid('title')" class="error">Can't be empty</span>
            </div>
        </div>
        <div class="description-container mt-1">
            <p class="bold grey-medium-50-text">Description</p>
            <div class="input-container">
                <textarea [ngClass]="{ 'error-border': isControlInvalid('description') }" formControlName="description"></textarea>
                <span *ngIf="isControlInvalid('description')" class="error">Can't be empty</span>
            </div>
        </div>
        <div class="subtask-container mt-1">
            <p class="bold grey-medium-50-text">Subtasks</p>
            <div *ngFor="let uuid of getFormControlsArray()" class="subtask mb-1">
                <div class="input-container">
                    <input [ngClass]="{ 'error-border': isControlInvalid('description') }" [formControlName]="uuid" />
                    <span *ngIf="isControlInvalid(uuid)" class="error">Can't be empty</span>
                </div>
                <svg (click)="removeSubtask(uuid)" class="ml-1" width="15" height="15"
                    xmlns="http://www.w3.org/2000/svg">
                    <g fill="fill" fill-rule="evenodd">
                        <path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z" />
                        <path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z" />
                    </g>
                </svg>
            </div>
        </div>
        <button class="btn btn-secondary" (click)="addSubtask()">+ Add New Subtask</button>
        <div class="status-container mt-1">
            <p class="bold grey-medium-50-text">Status</p>
            <div class="status-dropdown semi-bold" [class.purple-border]="isDropdownOpen" (click)="toggleDropdown()">
                <div class="selected-option">
                    <p>{{ selectedOption }}</p>
                    <svg *ngIf="!isDropdownOpen" width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#635FC7" stroke-width="2" fill="none" d="m1 1 4 4 4-4" />
                    </svg>
                    <svg *ngIf="isDropdownOpen" width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#635FC7" stroke-width="2" fill="none" d="M9 6 5 2 1 6" />
                    </svg>
                </div>
            </div>
            <div class="dropdown" *ngIf="isDropdownOpen">
                <div class="option" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                    {{ option }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-1" (click)="createTask()">Create Task</button>
    </div>
</form>