<div class="board-list">
    <p>ALL BOARD ({{boardList.length}})</p>
    <ul>
        <li *ngFor="let board of boardList">
            <img src="" alt="">
            <p>{{board.name}}</p>
        </li>
        <li>
            <img src="" alt="">
            <p>+ Create New Board</p>
        </li>
    </ul>
</div>
<div class="select-theme">
    <img src="" alt="">
    <input type="checkbox" />
    <img src="" alt="">
</div>
<div class="hide-sidebar-container">
    <img src="" alt="">
    <p>Hide Sidebar</p>
</div>