:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 103px;
  height: 800px;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 20px 20px 0;
  background-color: #373b53;
}
.group11 {
  position: absolute;
  left: 0;
  top: 659px;
  width: 103px;
  height: 117px;
  overflow: visible;
  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
