/* You can add global styles to this file, and also import other style files */
cl-root {
    font-family: sans-serif;
    background-color: #f2f2f2;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}
