/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap");
@import './resets.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "League Spartan", sans-serif;
}

.bold {
    &--heavy {
        font-weight: 700;
    }
    &--medium {
        font-weight: 500;
    }
}

$component-palette: (
    invoice-status: (
        pending: (
            color: #ff8f00,
            background: rgba(255, 143, 0, 0.05),
        ),
        paid: (
            color: #33d69f,
            background: rgba(51, 214, 159, 0.05),
        ),
        draft: (
            color: #373b53,
            background: rgba(55, 59, 83, 0.05),
        ),
    ),
    invoice: (
        light-mode: (
            background: #ffffff,
            text: (
                base: #858bb2,
                dark: #0c0e16,
            ),
        ),
        dark-mode: (
            background: #1e2139,
            text: (
                light: #ffffff,
                base: #dfe3fa,
            ),
        ),
    ),
    view-invoice-status: (
        light-mode: (
            text: #858bb2,
            background: #ffffff,
        ),
        dark-mode: (
            text: #dfe3fa,
            background: #1e2139,
        ),
    ),
    view-invoice-details: (
        light-mode: (
            amount: (
                text: white,
                background: #252945,
            ),
        ),
        dark-mode: (
            amount: (
                text: #ffffff,
                background: #0C0E16,
            ),
        )
    ),
    view-invoice-details-table: (
        light-mode: (
            background: #F9FAFE,
        ),
        dark-mode: (
            background: #252945,
            text: #ffffff,
        ),
    ),
);

$palette: (
    primary: (
        light: #9277ff,
        base: #7c5dfa,
    ),
    secondary: (
        light-mode: (
            light: #858bb2,
            base: #f9fafe,
            dark: #7e88c3,
            darker: #373b53,
        ),
        dark-mode: (
            lighter: #ffffff,
            light: #dfe3fa,
            base: #252945,
        ),
    ),
    tertiary: (
        light-mode: (
            light: #888eb0,
            base: #373b53,
            dark: #0c0e16,
        ),
        dark-mode: (
            light: #dfe3fa,
            base: #373b53,
            dark: #1e2139,
        ),
    ),
    danger: (
        base: #ec5757,
        light: #ff9797,
    ),
);

// @function paletteClr($category, $mode, $shade) {
//     $selected-category: map-get($palette, $category);
//     $shades: map-get(map-get($palette, $selected-category), $mode);
//     $color: map-get($shades, $shade);
//     @return $color;
// }

// @function componentPaletteClr($component, $state) {
//     $states: map-get($palette, $component);
//     $color: map-get($states, $state);
//     @return $color;
// }

$color-03: #1e2139;
$color-04: #252945;
$color-05: #dfe3fa;
$color-06: #888eb0;
$color-07: #7e88c3;
$color-08: #0c0e16;
$color-11: #f8f8fb;
$color-12: #141625;
@mixin text-style-heading-l() {
    font-size: 2.25rem;
    font-family: "League Spartan";
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1.12px;
    text-decoration: none;
    text-transform: none;
}
@mixin text-style-heading-m() {
    font-size: 1.5rem;
    font-family: "League Spartan";
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.75px;
    text-decoration: none;
    text-transform: none;
}
@mixin text-style-heading-s() {
    font-size: 0.938rem;
    font-family: "League Spartan";
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-decoration: none;
    text-transform: none;
}
@mixin text-style-heading-s-variant() {
    font-size: 0.938rem;
    font-family: "League Spartan";
    font-weight: 700;
    font-style: normal;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-decoration: none;
    text-transform: none;
}
@mixin text-style-body() {
    font-size: 0.812rem;
    font-family: "League Spartan";
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.1px;
    text-decoration: none;
    text-transform: none;
}
@mixin text-style-body-variant() {
    font-size: 0.812rem;
    font-family: "League Spartan";
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    letter-spacing: -0.1px;
    text-decoration: none;
    text-transform: none;
}
