$purple-dark: #635FC7;
$purple-light: #A8A4FF;
$black: #000112;
$black-light: #20212C;
$grey-dark: #2B2C37;
$grey-light: #3E3F4E;
$white-dark: #F4F7FD;
$white: #FFFFFF;
$red-dark: #EA5555;
$red-light: #FF9898;
$grey: #828FA3;
$light-blue: #E4EBFA;
