@import "./colors";

.ellipsis-menu {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.ellipsis-menu::before,
.ellipsis-menu::after,
.ellipsis-menu div {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: $grey-medium;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.ellipsis-menu::before {
    top: 2px;
}

.ellipsis-menu::after {
    top: 8px;
}

.ellipsis-menu div {
    top: 14px;
}
