@import './colors';

.logo {
    display: flex;
    & div:nth-child(1) {
        height: 25px;
        width: 6px;
        border-radius: 2px;
        background-color: $purple-dark;
    }
    & div:nth-child(2) {
        height: 25px;
        width: 6px;
        border-radius: 2px;
        margin-left: 2px;
        background-color: $purple-dark-75;
    }
    & div:nth-child(3) {
        height: 25px;
        width: 6px;
        border-radius: 2px;
        margin-left: 2px;
        background-color: $purple-dark-50;
    }
}