@import '../../partials/colors';
@import '../../partials/miscelleneous';

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    .social-link-container > img,
    svg {
        color: white;
        &:hover {
            color: $green;
            cursor: pointer;
        }
    }
    a {
        margin-right: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }
}
